/* FONTS */

/* ROOT */
body {
    box-sizing: border-box;
    margin: 0 auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

#container {
    width: 100%;
}

/* LOGOS AND BUTTONS */

.logo {
    height: 4rem;
}

.btn {
    border-radius: 15px;
    border: none;
    padding: 10px;
}

.primary-btn {
    background-color: #FFEE06;
}


/* NAV AND HERO */

#header-img {
    height: 4rem;
}

#nav-bar {
    height: 178px;
}

#nav-bar .logo {
    background-color: #000;
}

.acme-hdr {
    width: 100%;
    height: 6rem;

}

.acme-nav-bar {
    width: 100%;
    z-index: 99;
}

.acme-nav-bar ul {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
}

.flex-center {
    display: flex;
    align-items: center;
}
.hero-image{
    background-image: url(./assets/image1.png);
    background-attachment: relative;
    background-position: bottom -10px right 0;
    background-size: cover;
    width: 100vw;
    height: 432px;
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding-bottom: 1rem;
    justify-content: left;
}

    .hero-image h1 {
        text-transform: uppercase;
        font-family: Geneva, Verdana, sans-serif;
        font-weight: bold;
        font-size: 3.25rem;
        margin-bottom: 6px;
        line-height: 63px;
    }

    .hero-image p {
        margin-bottom: 55px;
    }

    .hero-image h1, .hero-image p {
        margin-left: 54px;
    }

.nav-bullets, .nav-link {
    text-decoration-line: none;
    list-style-type: none;
    color: #000;
    padding: 0;
}

.nav-bullets:nth-of-type(1) { flex-grow: 3; }
.nav-bullets:nth-of-type(2) { flex-grow: 1; }
.nav-bullets:nth-of-type(3) { flex-grow: 1; }
.nav-bullets:nth-of-type(4) { flex-grow: 1; }
.nav-bullets:nth-of-type(5) { flex-grow: 1; }
.nav-bullets:nth-of-type(6) { flex-grow: 1; }
.nav-bullets:nth-of-type(7) { flex-grow: 2; }



.sticky {
    position:-webkit-sticky;
    position:sticky;
    top:0;
    display: flex;
    flex-direction: row;
    width: 100%;
    top: 0;
    background: #fff;
    z-index: 9999;
}


/* CARDS AND SLIDER */

.acme-one {
    margin-bottom: 3rem;
}

.acme-one, .card-images {
    color: #fff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.acme-two {
    display: flex;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: stretch;
}

.cards {
    width: 390px;
    margin: 0 0 72px 0;
}

    .cards p {
        width: 100%;
        height: 96px;
        font-size: 0.75rem;
        line-height: 2rem;
    }

.card-images{
    height: 239px;
    width: 390px;
    display: flex;
    align-items: flex-end;
    justify-content: s;
    background-position: center;
    z-index: 1;
}

    .card-images h2 {
        font-size: 0.75rem;
        text-transform: uppercase;
        margin: 16px 20px;    
    }


.card-image-1{
    background-image: url(./assets/image2.png);
}
.card-image-2{
    background-image: url(./assets/image4.png);
}
.card-image-3{
    background-image: url(./assets/image3.png);
}

.card-image-3-gif{
    background-image: url(https://media0.giphy.com/media/3Dh6dvsDUhvAQ/giphy.gif);
}

.acme-three {
    background-image: url(./assets/image5.png);
    width: 100%;
    height: 412px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: stretch;    
}

    .acme-three article {
        display: flex;
        flex-direction: row;
    }

.quote-card {
    width: 550px;
    text-align: center;
    font: normal normal normal 24px/40px;
}

.no-show-btn{
    height: 31.48px;
    width: 15.75px;
    margin: 200px 50px 0 50px;
    background: transparent;
    border: transparent;
}

.arrows {
    border: solid black;
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 10px;
    z-index: 1;
}

.arrow-left{
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.arrow-right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.quote-card-quote {
    font-size: 24px;
    line-height: 40px;
}

.quote-card-name {
    font-size: 20px;
    line-height: 28px;
}

.quote-card-name, .quote-card-title {
    text-align: center;
}

.dot-box {
    width: 100px;
    display: flex;
    justify-content: space-between;
    margin: 25px auto;
}

    .dot-box button {
        height: 20px;
        width: 20px;
    }
    
    .dot {
    height: 14px;
    width: 14px;
    background-color: transparent;
    border-radius: 50%;
    display: inline-block;
    border: 3px black solid;
}

    .active-dot {
        background-color: #000;
    }

.carousel-wrapper {
    overflow: hidden;
}  

.carousel-wrapper * {
    box-sizing: border-box;
}

.carousel {
    transform-style: preserve-3d;
}

.carousel__item {
    opacity: 0;
    position: absolute;
    top:0;
    width: 100%;
    margin: auto;
    padding: 1rem 4rem;
    z-index: 100;
    transition: transform .5s, opacity .5s, z-index .5s;
}

.carousel__item.initial,
.carousel__item.active {
  opacity: 1;
  position: relative;
  z-index: 900;
}

.carousel__item.prev,
.carousel__item.next {
  z-index: 800;
}
.carousel__item.prev {
  transform: translateX(-100%); /* Move 'prev' item to the left */
}
.carousel__item.next {
  transform: translateX(100%); /* Move 'next' item to the right */
}

.carousel__button--prev,
.carousel__button--next {
  cursor: pointer; 
  z-index: 1001; /* Sit on top of everything */
}


/* FOOTER */

.acme-ftr {
    background-color: #000;
    color: #fff;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.acme-ftr article {
    width: 212px;
    height: 210px;
    margin-top: 67px;
    margin-bottom: 50px;
}

.ftr-nav {
    height: auto;
}

.acme-ftr h3 {
    font-size: 23px;
    line-height: 27px;
}

.acme-ftr a { 
    color: #FFEE06;
    text-decoration: none;
}

.acme-ftr li a {
    line-height: 28px;
    font: 20px;
    margin-bottom: 5px;
}
.acme-ftr li {
    margin-bottom: 5px;
}
.acme-ftr ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.ftr-2 {
    width: 344px;
}

.ftr-2 a {
    color: unset;
    line-height: unset;
    font-size: unset;
}

.news-item {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: center;
    font-size: 16px;
    line-height: 20px;
    width: 344px;
}
    .news-item img {
        width: 69px;
        height: 69px;
        margin-right: 24px;
    }

    .news-item p {
        width: 251px;
    }

.ftr-3, #form {
    display: flex;
    flex-direction: column;
}

#form input {
    height: 35px;
    width: 257px;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 16px;
    padding: 0px 0px 0px 11px;
}

#form #submit {
    width: 89px;
    height: 48px;
    font-size: 20px;
    text-align: center;
    padding: 11px 0px 9px 0px;
}

.mobile {
    display: none;
}

@media screen and (min-width: 1080px) {

    .acme-ftr {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
    }

    .desktop{
        display: none;
    }
}

