

.hero-image{
    background-image: url(./assets/image1.png);
}
.card-image-1{
    background-image: url(./assets/image4.png);
}
.card-image-2{
    background-image: url(./assets/image2.png);
}
.card-image-3{
    background-image: url(./assets/image3.png);
}

